<!DOCTYPE html>
<head>
    <title>Upload File</title>
</head>

<body>
    <h1>Upload a file</h1>
    {% if error %}
        <p style="color:red;" >{{ error}}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>

    </form>
    <h1 >Already uploaded files</h1>
    <ul>
        {% for upload in uploads %}
          <li>
            
            <a href="{% url 'file_analysis_view' upload.id %}">{{upload.file.name}} </a>
        </li>
        {% empty %}
          <li>No files uploaded yet</li>
        {% endfor %}
    </ul>
</body>

</html>